body {
    background-color: #FFFFFF;
    color: #fff;
    font-family: 'Raleway',Tahoma,Verdana,Arial,sans-serif;

}

.content {
    position: relative;
    text-align: center;
    padding-bottom: 20px;
}
.fixed-top-right {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 5;
    max-width:100%;
    max-height:70%;
    padding: 8px;
    background-color: #1c9fe7;
    border-bottom-left-radius: 10px; /* standards-compliant: (IE) */ 
}
.centerlogo {
    padding-top: 20px;
    max-height: 130px;
    display: inline-block;
}

.title {
    margin-top: -20px;
    text-align: center;
    font-family: 'Raleway',Tahoma,Verdana,Arial,sans-serif;
    font-size: 40px;
    color: #03689d;
    vertical-align: center;
}

.subtitle {
    position: relative;
    padding-top: 10px;
    text-align: center;
    font-size: 25px;
    font-weight: 400;
}

.diagram {
    flex-direction: column;
}

.diagram > div {
    height: 100%;
}

.diagram img {
    height: 60%;
    margin: 0;
    display: block;
}

.diagram #webpage_diagram img {
    border-radius: 4px;
    height: 100%;
}

#webpage_diagram_placeholder {
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    transition: 0.5s;
}

.diagram #arrow_diagram {
    background-image: url("/images/Arrow.png");
    content: "&arr;";
    margin: auto;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.selector div {
    text-align: center;
    height: 100%;
    border-radius: 40px; /* standards-compliant: (IE) */ 
}

.selectorimage {
    cursor: pointer;
    padding: 10px;
    max-height: 80%;
    max-width:100%;
    vertical-align: middle;
    border-radius: 40px;
    -webkit-filter: grayscale(1);
    transition: 0.5s;
    opacity: 0.5;
    position: absolute;  
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin: auto; 
}

.selector{
    height: 100%;
}

.selected {
    border-radius: 50%; /* standards-compliant: (IE) */ 
    border-style: solid;
    max-height: 120%;
    max-width: 120%;
}

.helper-text {
    padding-left: 2em;
}

.hovering img {
    -webkit-filter: grayscale(0);
    opacity: 1;
}
.selected img {
    /*-webkit-filter: grayscale(0);*/
    max-height: 110%;
    box-sizing: content-box;
}

.settings-btn,
.settings-btn:focus {
    color: white;
    background-color: #1c9fe7;
    width: auto;
    text-align: center;
    margin: 30px auto;
    display: table;
    font-size: 20px;
}

.settings-btn:hover, 
.settings-btn:active {
    color: white;
    background-color: rgba(128, 207, 232, 0.4);
}

#expandable_settings_pane #settings_container {
    overflow: hidden;
    height: auto;
    opacity: 0;
    display: none;
    animation: SETTINGS_CONTAINER_ANIMATION 0.5s reverse;
}

#expandable_settings_pane.open #settings_container {
    animation: SETTINGS_CONTAINER_ANIMATION 0.5s;
    opacity: 1;
    display: block;
}

@keyframes SETTINGS_CONTAINER_ANIMATION {
    0% {
        opacity: 0;
        display: none;
    }

    50% {
        opacity: 0;
        display: none;
    }

    51% {
        opacity: 0;
        display: block;
    }

    100% {
        opacity: 1;
    }
}

@keyframes DIAGRAM_ANIMATION {
    0% {
        opacity: 1;
        display: block;
    }

    50% {
        opacity: 0;
        display: block;
    }

    51% {
        opacity: 0;
        display: none;
    }

    100% {
        opacity: 0;
        display: none;
    }
}

#expandable_settings_pane.open {
    transition: 0.5s;
    transition-delay: 0.25s;
    background-color: #03689d;
}

#expandable_settings_pane.open #webpage_diagram {
    animation: DIAGRAM_ANIMATION 0.5s;
    display: none;
    opacity: 0;
    -webkit-backface-visibility: hidden;
    -webkit-transform: scale(1);
}

#expandable_settings_pane #webpage_diagram {
    animation: DIAGRAM_ANIMATION 0.5s reverse;
    display: block;
    opacity: 1;
}

#expandable_settings_pane {
    padding: 20px;
    border-radius: 10px; /* standards-compliant: (IE) */ 

}

#status {
    height: 45px;
    text-align: center;
    font-size: 20px;
    color: rgb(36, 123, 171);
    margin-bottom: 15px;
    transition: 0.5s;
    opacity: 0;
}

#status.updated {
    transition: 0.5s;
    opacity: 1;
}

#installadvice {
    text-align: center;
    font-size: 18px;
    color: #03689d;
    margin: 10px 0;
    display: none;
}

.engines {
    height: 100px;
    margin-bottom: 30px;
}

#custom_engine_update {
    margin-top: 10px;
}

input[type="checkbox"] {
    margin-right: 10px;
}

.pull-right-button {
    float: right;
}

/*JS-free CSS3 transition voodoo magic*/
input.toggle {
    display: none;
}

#additional-settings-toggle.toggle ~ #additional_settings_container { 
    max-height: 0;
    margin: .2rem;
    overflow: hidden;
    transition: 0.5s;
    background-color: rgba(154, 218, 246, 0.4);
    border-radius: 5px; /* standards-compliant: (IE) */ 
    height: auto;
}
#additional-settings-toggle.toggle:checked ~ #additional_settings_container {
    max-height: 100%;
}

#additional_settings_container {
    font-size: 20px;
}

#additional_settings_container > form {
    padding: 10px;
}

#additional_settings_container input {
    margin: 5px;
}
#custom_engine_settings{
    display:none;
}
a {
    color: #ffffff;
}
a:visited {
    color: #ffffff;
}
a:hover {
    color: #ffffff;
}
a:active {
    color: #ffffff;
}
.visible {
    display: block !important;
}
.pointer{
    cursor: pointer;
}
.float-right{
    float:right;
}
.float-left{
    float:right;
}
.chrometana_advanced_setting{
    font-weight: bold;
}
.option-text{
    font-weight: bold;
}
section {
    margin-bottom:1em;
}